In [19]:
import pandas as pd
import numpy as np

In [20]:

df = pd.read_parquet("complaints_2015.parquet")
print(df.head())

       0       1                    2    3             4     5  6         7  \
0  79432  516612  General Motors, LLC  GMC  ENVOY DENALI  2007  N  20150825
1  79433  516612  General Motors, LLC  GMC  ENVOY DENALI  2007  N  20150825
2  79434  516612  General Motors, LLC  GMC  ENVOY DENALI  2007  N  20150825
3  79435  516612  General Motors, LLC  GMC  ENVOY DENALI  2007  N  20150825
4  79436  516612  General Motors, LLC  GMC  ENVOY DENALI  2007  N  20150825

   8  9  ... 39                          40 41 42 43 44 45 46 47 48
0  N  0  ...     WHITE BEAR LAKE SUPERSTORE              V     N  N
1  N  0  ...     WHITE BEAR LAKE SUPERSTORE              V     N  N
2  N  0  ...     WHITE BEAR LAKE SUPERSTORE              V     N  N
3  N  0  ...     WHITE BEAR LAKE SUPERSTORE              V     N  N
4  N  0  ...     WHITE BEAR LAKE SUPERSTORE              V     N  N

[5 rows x 49 columns]

In [21]:
df.iloc[0]

0                                                 79432
1                                                516612
2                                   General Motors, LLC
3                                                   GMC
4                                          ENVOY DENALI
5                                                  2007
6                                                     N
7                                              20150825
8                                                     N
9                                                     0
10                                                    0
11             FUEL SYSTEM, GASOLINE:DELIVERY:FUEL PUMP
12                                           STILLWATER
13                                                   MN
14                                          1GKET63M572
15                                             19970627
16                                             20160106
17
18                                                    1
19    WIRING TO FUEL PUMP BURNT...2007 GMC ENVOY DEN...
20                                                 EVOQ
21                                                    N
22
23                                                    Y
24                                                    Y
25                                                    Y
26                                                    8
27                                                  RWD
28                                                   FI
29                                                   GS
30                                                 AUTO
31                                                    0
32
33
34
35
36
37
38
39
40                           WHITE BEAR LAKE SUPERSTORE
41
42
43
44
45                                                    V
46
47                                                    N
48                                                    N
Name: 0, dtype: object

In [22]:
column_names = [
    "CMPLID", "ODINO", "MFR_NAME", "MAKETXT", "MODELTXT", "YEARTXT", "CRASH", "FAILDATE",
    "FIRE", "INJURED", "DEATHS", "COMPDESC", "CITY", "STATE", "VIN", "DATEA", "LDATE",
    "MILES", "OCCURENCES", "CDESCR", "CMPL_TYPE", "POLICE_RPT_YN", "PURCH_DT",
    "ORIG_OWNER_YN", "ANTI_BRAKES_YN", "CRUISE_CONT_YN", "NUM_CYLS", "DRIVE_TRAIN",
    "FUEL_SYS", "FUEL_TYPE", "TRANS_TYPE", "VEH_SPEED", "DOT", "TIRE_SIZE", "LOC_OF_TIRE",
    "TIRE_FAIL_TYPE", "ORIG_EQUIP_YN", "MANUF_DT", "SEAT_TYPE", "RESTRAINT_TYPE",
    "DEALER_NAME", "DEALER_TEL", "DEALER_CITY", "DEALER_STATE", "DEALER_ZIP",
    "PROD_TYPE", "REPAIRED_YN", "MEDICAL_ATTN", "VEHICLES_TOWED_YN"
]
df.columns = column_names

In [23]:
df = df.replace(r'^\s*$', np.nan, regex=True)

In [24]:
df.isna().sum()

CMPLID                    0
ODINO                     0
MFR_NAME                 15
MAKETXT                  15
MODELTXT                 15
YEARTXT                  15
CRASH                     0
FAILDATE                  0
FIRE                      0
INJURED                   0
DEATHS                    0
COMPDESC                  7
CITY                      0
STATE                     0
VIN                   49502
DATEA                     0
LDATE                     0
MILES                391778
OCCURENCES           815529
CDESCR                    1
CMPL_TYPE                 0
POLICE_RPT_YN             0
PURCH_DT             870991
ORIG_OWNER_YN         10054
ANTI_BRAKES_YN        10054
CRUISE_CONT_YN        10054
NUM_CYLS             815631
DRIVE_TRAIN          813941
FUEL_SYS             876095
FUEL_TYPE            823413
TRANS_TYPE           874388
VEH_SPEED            370504
DOT                  879230
TIRE_SIZE            880419
LOC_OF_TIRE          878653
TIRE_FAIL_TYPE       880360
ORIG_EQUIP_YN        880147
MANUF_DT             881504
SEAT_TYPE            881415
RESTRAINT_TYPE       881577
DEALER_NAME          827769
DEALER_TEL           866355
DEALER_CITY          831733
DEALER_STATE         831431
DEALER_ZIP           837723
PROD_TYPE                15
REPAIRED_YN          877715
MEDICAL_ATTN              0
VEHICLES_TOWED_YN     10054
dtype: int64

In [49]:
df_cleaned_row = df.copy()
cols_to_clean = df_cleaned_row.columns[df_cleaned_row.isna().sum() < 20000]
df_cleaned_row = df_cleaned_row.dropna(subset=cols_to_clean)

In [50]:
df_cleaned_row.isna().sum()

CMPLID                    0
ODINO                     0
MFR_NAME                  0
MAKETXT                   0
MODELTXT                  0
YEARTXT                   0
CRASH                     0
FAILDATE                  0
FIRE                      0
INJURED                   0
DEATHS                    0
COMPDESC                  0
CITY                      0
STATE                     0
VIN                   39447
DATEA                     0
LDATE                     0
MILES                381724
OCCURENCES           806505
CDESCR                    0
CMPL_TYPE                 0
POLICE_RPT_YN             0
PURCH_DT             862474
ORIG_OWNER_YN             0
ANTI_BRAKES_YN            0
CRUISE_CONT_YN            0
NUM_CYLS             805575
DRIVE_TRAIN          803885
FUEL_SYS             866039
FUEL_TYPE            813357
TRANS_TYPE           864332
VEH_SPEED            360450
DOT                  872933
TIRE_SIZE            872933
LOC_OF_TIRE          872933
TIRE_FAIL_TYPE       872933
ORIG_EQUIP_YN        872933
MANUF_DT             872933
SEAT_TYPE            872933
RESTRAINT_TYPE       872933
DEALER_NAME          817832
DEALER_TEL           856312
DEALER_CITY          821779
DEALER_STATE         821477
DEALER_ZIP           827746
PROD_TYPE                 0
REPAIRED_YN          872933
MEDICAL_ATTN              0
VEHICLES_TOWED_YN         0
dtype: int64

In [51]:
threshold = 20000
df_cleaned = df_cleaned_row.loc[:, df_cleaned_row.isna().sum() <= threshold]

In [52]:
df_cleaned.isna().sum()

CMPLID               0
ODINO                0
MFR_NAME             0
MAKETXT              0
MODELTXT             0
YEARTXT              0
CRASH                0
FAILDATE             0
FIRE                 0
INJURED              0
DEATHS               0
COMPDESC             0
CITY                 0
STATE                0
DATEA                0
LDATE                0
CDESCR               0
CMPL_TYPE            0
POLICE_RPT_YN        0
ORIG_OWNER_YN        0
ANTI_BRAKES_YN       0
CRUISE_CONT_YN       0
PROD_TYPE            0
MEDICAL_ATTN         0
VEHICLES_TOWED_YN    0
dtype: int64

In [53]:
df_cleaned.to_parquet("complaints_2015_cleaned.parquet")